/*google fonts*/

/*font montserrat*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

/*font inter*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Montserrat:wght@300&display=swap');

/*finance*/
.finance {
    width: 1268px; 
    height: 100%;
}

/*navbar btn*/
.finance .navbar__block {
    width: 100%;
    height: 48px;
    margin-top: 24px;
}

.finance .navbar__btn {
    width: 1133px;
    height: 100%;
    margin-left: 20px;
    display: flex;
    justify-content: space-between;
}

.navbar__btn .navbar {
    width: 461px;
    height: 100%;
    display: flex;
}

.navbar .navbar__menu__one {
    width: 120px;
    height: 100%;
}

.navbar__menu__one .one__txt {
    width: 100%;
    height: 16px;
}

.navbar__menu__one .one__txt .txt, .navbar__menu__two .text,
.navbar__menu__three .text, .navbar__menu__four .text {
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #060606;
}

.navbar__menu__one .one__border {
    width: 56px;
    height: 4px;
    margin-top: 25px;
    border-radius: 110px;
    background-color: #88CC4C;
}

.navbar__menu__two, .navbar__menu__three, .navbar__menu__four {
   height: 100%;
   margin-left: 45px; 
}

.navbar .navbar__menu__two {
    width: 81px;
}

.navbar .navbar__menu__three {
    width: 73px;    
}

.navbar .navbar__menu__four {
    width: 65px;
}

.navbar__btn .btn {
    width: 380px;
    height: 100%;
    display: flex;
}

.btn .balance {
    width: 134px;
    height: 100%;
    display: flex;
    align-items: center;
}

.balance .bal, .balance .val {
    font-family: "Montserrat";
    font-size: 16px;
    line-height: 16px;
}

.balance .bal {
    font-weight: 400;
    color: #000000;
}

.balance .val {
    font-weight: 700;
    color: #322FEE;
}

.btn .button {
    width: 230px;
    height: 100%;
    margin-left: 15px;
}

.button .btn__button {
    width: 100%;
    height: 100%;
    border-radius: 60px;
    border: 1px;
    padding: 5px;
    gap: 5px;
    background: #A0F059;
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 16px;
    line-height: 19.2px;
    letter-spacing: -1.9%;
    text-align: center;
    color: #000000;
}

/*inputs*/
.finance .inputs__block {
    width: 100%;
    height: 48px;
    margin-top: 36px;
}

.inputs__block .inputs {
    width: 915px;
    height: 100%;
    margin-left: 20px;
    display: flex;
}

.inputs .input__search {
    width: 239px;
    height: 100%;
    border-radius: 102px;
    display: flex;
    border: 1px solid #B7BFC5;
}

.search__inp {
    width: 150px;
    height: 100%;
    border-radius: 102px;
    background-color: inherit;
}

.search__inp .se__in {
    width: 100%;
    height: 100%;
    border-radius: 102px;
    outline: none;
    border: none;
    padding-left: 10px;
    background-color: inherit;
}

.border__div {
    width: 5px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}

.border__inp {
    width: 1px;
    height: 30px;
    border: 1px solid #B7BFC5;
}

.search__icon {
    width: 26px;
    height: 100%;
    border-radius: 102px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}

.search__icon .img__ic {
    width: 24px;
    height: 24px;
}

.inputs .input__sum {
    width: 150px;
    height: 100%;
    border: 1px solid #B7BFC5;
    border-radius: 102px;
    gap: 8px;
    margin-left: 40px;
    display: flex;
}

.input__sum .sum__input {
    width: 100px;
    height: 100%;
    border-radius: 102px;
    background-color: inherit;
}

.sum__input .inp__sum {
    width: 100%;
    height: 100%;
    border-radius: 102px;
    outline: none;
    border: none;
    padding-left: 10px;
    background-color: inherit;
}

.sum__text__div {
    width: 32px;
    height: 100%;
    border-radius: 102px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: inherit;
}

.sum__text__div .sum__txt {
    font-family: "Inter";
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    color: #88CC4C;
}

.inputs .input__calendar {
    width: 170px;
    height: 100%;
    border: 1px solid green;
    border-radius: 102px;
    margin-left: 40px;
}

.input__calendar .calendar__select {
    width: 100%;
    height: 100%;
    gap: 8px;
    border-radius: 102px;
    background-color: #322FEE;
    font-family: "Inter";
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    padding-left: 10px;
    outline: none;
    border: none;
}

.inputs .input__filter {
    width: 245px;
    height: 100%;
    border: 1px solid #B7BFC5;
    border-radius: 102px;
    margin-left: 40px;
    display: flex;
}

.filter__inp {
    width: 195px;
    height: 100%;
    border-radius: 102px;
    background-color: inherit;
}

.filter__inp .fil__inp {
    width: 100%;
    height: 100%;
    border-radius: 102px;
    border: none;
    outline: none;
    padding-left: 10px;
    background-color: inherit;
}

.input__filter .filter__icon {
    width: 25px;
    height: 100%;
    border-radius: 102px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}

.filter__icon .fil__img {
    width: 24px;
    height: 24px;
}

/*finance user*/
.finance__user {
    width: 100%;
    height: 840px;
    border: 1px solid #F5F5F5;
    margin-top: 25px;
    display: flex;
}

/*finance barter*/
.finance__barter {
    width: 824px;
    height: 636px;
    background-color: #F5F5F5;
}

.finance__barter .header {
    width: 100%;
    height: 20px;
}

.finance__barter .header .head__text {
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    color: #181818;
    margin-left: 20px;
}

/*barter*/
.finance__barter .barter__div {
    width: 784px;
    height: 260px;
    border: 1px solid #000000;
    background-color: #000000;
    border-radius: 30px;
    margin-left: 20px;
    margin-top: 25px;
    background-image: url("../img/Mask\ group.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.barter__div .content__text {
    width: 100%;
    height: 112px;
    margin-top: 50px;
}

.content__text .con {
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 15px;
    line-height: 22.5px;
    color: #FFFDFD;
    margin-left: 35px;
}

.barter__div .barters__buttons {
    width: 100%;
    height: 52px;
    margin-top: 20px;
}

.barters__buttons .buttons__barter {
    width: 585.46px;
    height: 100%;
    margin-left: 35px;
    display: flex;
}

.buttons__barter .button__one {
    width: 158px;
    height: 48px;
    border-radius: 60px;
    border: none;
    background-color: #A0F059;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons__barter .button__two {
    width: 21.68px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button__two .point__btn__one, .button__two .point__btn__two {
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background: #FFFDFD;
}

.button__two .point__btn__two {
    margin-top: 1px;
}

.buttons__barter .button__three {
    width: 158px;
    height: 48px;
    border-radius: 20px;
    border: none;
    background-color: #A0F059;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons__barter .button__four {
    width: 28.58px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button__four .button__txt {
    font-family: "Montserrat";
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFDFD;
}

.buttons__barter .button__five {
    width: 212.83px;
    height: 48px;
    border-radius: 20px;
    background-color: #A0F059;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button__one .button__txt, .button__three .button__txt,
.button__five .button__txt {
    font-family: "Montserrat";
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: center;
    color: #000000;
}

/*balance*/
.finance__barter .balance__div {
    width: 786px;
    height: 260px;
    background-color: #322FEE;
    border-radius: 16px;
    margin-left: 20px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

/*balance content*/
.balance__div .balance__cont {
    width: 440px;
    height: 100%;
}

.balance__cont .cont__header {
    width: 100%;
    height: 15px;
    margin-top: 20px;
}

.balance__cont .cont__header .bal {
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 15px;
    line-height: 15px;
    color: #FFFFFF;
    margin-left: 35px;
}

.balance__cont .balance__number {
    width: 100%;
    height: 35px;
    margin-top: 15px;
}

.balance__cont .balance__number .number__bal {
    font-family: "Montserrat";
    font-size: 35px;
    font-weight: 600;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
    margin-left: 35px;
}

.balance__cont .balance__arrow__right {
    width: 100%;
    height: 41px;
    margin-top: 10px;
}

.balance__cont .balance__arrow__right .img {
    width: 41px;
    height: 100%;
    margin-left: 35px;
}

.balance__cont .bal__btn__num {
    width: 100%;
    height: 48px;
    margin-top: 45px;
}

.balance__cont .bal__btn__num .btns__nums {
    width: 390px;
    height: 100%;
    margin-left: 35px;
    display: flex;
}

.btns__nums .btn__one__num, .btns__nums .btn__two__num {
    width: 180px;
    height: 100%;
    border-radius: 60px;
    padding: 5px 5px 5px 0px;
    gap: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btns__nums .btn__one__num {
    border: none;
    background: #A0F059;
}

.btns__nums .btn__two__num {
    border: 1px solid #FEFEFE;
    margin-left: 30px;
}

.btn__one__num .num__text__one, .btn__two__num .num__text__two {
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -1.9%;
    text-align: center;
}

.btn__one__num .num__text__one {
    color: #000000;
}

.btn__two__num .num__text__two {
    color: #FEFEFE;
}

/*balance img*/
.balance__div .balance__image {
    width: 161x;
    height: 100%;
    margin-right: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.balance__image .img {
    width: 159px;
    height: 159px;
}

.finance__barter .content__div {
    width: 100%;
    height: 20px;
    margin-top: 30px;
}

.finance__barter .content__div .cont {
    margin-left: 20px;
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    color: #181818;
}

/*users interested*/
.finance__interested {
    width: 337px;
    height: 804px;
    margin-left: 18px;
}

/*friends*/
.finance__interested .friends {
    width: 100%;
    height: 390px;
    border-radius: 16px;
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
}

/*header*/
.friends .head__ic__block {
    width: 100%;
    height: 16px;
    margin-top: 16px;
    display: flex;
}

.head__ic__block .head__us {
    width: 279px;
    height: 100%;
    margin-left: 16px;
}

.head__us .head__us__txt {
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 14px;
    line-height: 14px;
    color: #181818;
}

.head__ic__block .ic__us {
    width: 12px;
    height: 100%;
    margin-left: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
} 

.ic__us .ic__point__one, .ic__us .ic__point__two ,.ic__us .ic__point__three {
    width: 3px;
    height: 3px;
    background-color: #7F7F7F;
    border-radius: 50%;
}

.ic__us .ic__point__two {
    margin-top: 1px;
}

.ic__us .ic__point__three {
    margin-top: 1px;
}

.friends .friends__users {
    width: 100%;
    height: 310px;
    margin-top: 28px;
}

/*friends users*/
.friends__users .friends__users__child__one, .friends__users .friends__users__child__two,
.friends__users .friends__users__child__three, .friends__users .friends__users__child__four {
    width: 100%;
    height: 40px;
    gap: 12px;
    display: flex;
}

.friends__users .friends__users__child__two, .friends__users .friends__users__child__three,
.friends__users .friends__users__child__four {
    margin-top: 35px;    
}

.friends__users__child__one .child__one__img, .friends__users__child__two .child__two__img,
.friends__users__child__three .child__three__img, .friends__users__child__four .child__four__img {
    width: 40px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 16px;
}

.child__one__img .img, .child__two__img .img,
.child__three__img .img, .child__four__img .img {
    width: 40px;
    height: 40px;
    border-radius: 87px;
}

.friends__users__child__one .child__one__text, .friends__users__child__two .child__two__text,
.friends__users__child__three .child__three__text, .friends__users__child__four .child__four__text {
    width: 197px;
    height: 100%;
}

.child__one__text .child__one__t, .child__two__text .child__two__t,
.child__three__text .child__three__t, .child__four__text .child__four__t {
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    color: #181818;
}

.child__one__text .child__one__tx, .child__two__text .child__two__tx,
.child__three__text .child__three__tx, .child__four__text .child__four__tx {
    font-family: "Inter";
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: #7F7F7F;
}

/*friends interested*/
.finance__interested .interested__block {
    width: 100%;
    height: 403px;
    border: 1px solid #F5F5F5;
    margin-top: 10px;    
}

.interested__block .block__info__one {
    width: 100%;
    height: 210px;
}

.block__info__one .info__text__block__one {
    width: 326px;
    height: 168px;
    border-radius: 16px;
    border: none;
    background-color: #476FFD;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
}

.info__text__block__one .info__img__one {
    width: 100%;
    height: 33px;
    margin-top: 16px;
}

.info__text__block__one .info__img__one .img {
    width: 33px;
    height: 100%;
    margin-left: 16px;
}

.info__text__block__one .inform__content {
    width: 100%;
    height: 46px;
    margin-top: 0px;
}

.info__text__block__one  .lorem__info__one {
    width: 100%;
    height: 34px;
}

.info__text__block__one .lor__in__one {
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -1.9%;
    color: #FFFFFF;
    margin-left: 16px;
}
                                   
.info__text__block__one .inform__content .cont__inform {
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -1.9%;
    color: #FFFFFF;
    margin-left: 16px;
}

.block__info__one .block__info__text {
    width: 100%;
    height: 16px;
    margin-top: 5px;
}

.block__info__text .info__content {
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 14px;
    line-height: 14px;
    color: #181818;
    margin-left: 16px;
}

.info__text__block__one .block__lorem__one {
    width: 145px;
    height: 210px;
    position: absolute;
    top: 582px;
    left: 1285px;
}

.info__text__block__one .block__lorem__one .img {
    width: 100%;
    height: 100%;
}

.interested__block .block__info__two {
    width: 100%;
    height: 193px;
}

.block__info__two .info__text__block__two {
    width: 326px;
    height: 166px;
    border-radius: 16px;
    border: none;
    background-color: #EFACD1;
    margin-top: 26px;
    display: flex;
    flex-wrap: wrap;
}

.info__text__block__two .info__img__two {
    width: 100%;
    height: 33px;
    margin-top: 16px;
}

.info__img__two .img {
    width: 33px;
    height: 100%;
    margin-left: 16px;
}

.info__text__block__two .lorem__info__two {
    width: 100%;
    height: 40px;
    margin-top: -46px;
}
                                    
.info__text__block__two .lor__in__two {
    font-family: "Montserrat";
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: -0.019em;
    text-align: left;
    color: #000000;
    margin-left: 16px;
}

.info__text__block__two .block__lorem__two {
    width: 221px;
    height: 193px;
    position: absolute;
    top: 797px;
    left: 1199px;
}

.info__text__block__two .block__lorem__two .img {
    width: 100%;
    height: 100%;
}