/*google fonts*/

/*font montserrat*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

/*font inter*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Montserrat:wght@300&display=swap');

/*global style*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

/*login*/
.login {
    width: 100%;
    height: 1100px;
    background-color: #322FEE;
    display: flex;
}

/*text block 1*/
.login .text__block__one {
    width: 302px;
    height: 100%;
}

/*text block one*/
.text__block__one .img {
    margin-left: 78px;
    margin-top: 300px;
}

/*login block*/
.login .login__block {
    width: 1010px;
    height: 100%;
    display: flex;
    justify-content: center;
}

.login__block .block__log {
    width: 760px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*header img*/
.block__log .bart__head__icon {
    width: 311.81px;
    height: 300px;
    position: absolute;
    top: 0px;
}

/*image*/
.block__log .icon__img {
    width: 276px;
    height: 275px;
    position: absolute;
    top: 820px;
    left: 898px;
}

.icon__img .img {
    width: 100%;
    height: 100%;
}

.login__block .block__log .login__div {
    width: 400px;
    height: 700px;
    border-radius: 30px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 4px 0px #31282833;
    border: none;
}

/*login inputs*/
.login__div .login__inputs {
    width: 100%;
    height: 262px;
    margin-top: 150px;
}

/*login input header*/
.login__inputs .recovery__block {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.recovery__block .rec__block {
    width: 332px;
    height: 100%;
    display: flex;
    align-items: center;
}

.recovery__block .rec__block .rec__txt {
    font-family: "Montserrat";
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    color: #000000;
} 

/*password recovery input*/
.login__inputs .pass__rec__block {
    width: 100%;
    height: 60px;
    margin-top: 16px;
    display: flex;
    justify-content: center;
}

.pass__rec__block .log__pass__rec {
    width: 335px;
    height: 100%;
    border-radius: 60px;
    border: 1px solid #000000;
    background-color: #F2F5FF;
}

.log__pass__rec .inp {
    width: 333px;
    height: 57px;
    border-radius: 60px;
    margin-left: 0px;
    background-color: inherit;
    padding-left: 20px;
    outline: none;
    border: none;
}

/*button*/
.login__inputs .log__btn__block {
    width: 100%;
    height: 56px;
    margin-top: 31px;
    display: flex;
    justify-content: center;
}

.log__btn__block .btn {
    width: 232px;
    height: 100%;
    background: linear-gradient(0deg, rgba(15, 56, 203, 0), rgba(15, 56, 203, 0)), linear-gradient(0deg, #322FEE, #322FEE);
    border-radius: 60px;
    border: none;
    font-family: "Montserrat";
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: -0.019em;
    text-align: center;
    color: #FFFDFD;
}

/*password recovery*/
.login__div .password__recovery {
    width: 100%;
    height: 62px;
    margin-top: 190px;
}

/*union img*/
.password__recovery .union__block {
    width: 61px;
    height: 100%;
    margin-left: 19px;
}

.union__block .img {
    width: 100%;
    height: 100%;
}

/*text block 2*/
.login .text__block__two {
    width: 224px;
    height: 100%;
}