/*import google fonts lufga*/
@import url("https://fonts.cdnfonts.com/css/lufga");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lufga", sans-serif;
}

.main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0D0D0D;
}

/*portfolio*/
.portfolio {
    width: 1440px;
    height: 1024px;
    background-color: #0D0D0D;
    display: flex;
}

/*portfolio menu*/
.portfolio .portfolio__menu {
    width: 260px;
    height: 100%;
    border: 1px solid #212325;
}

.portfolio__menu .portfolio__icon {
    width: 100%;
    height: 60px;
    margin-top: 20px;
}

.portfolio__icon .icon__block {
    width: 34px;
    height: 60px;
    margin-left: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.portfolio__icon .icon__block .img {
    width: 34px;
    height: 34px;
}

.portfolio__menu .menu {
    width: 100%;
    height: 816px;
    margin-top: 68px;
    display: flex;
    justify-content: center;
}

.menu .menu__block {
    width: 182px;
    height: 100%;
}

/*menu main*/
.menu .menu__block .menu__main {
    width: 100%;
    height: 384px;
}

/*dashboard menu*/
.menu__main .menu__dashboard__block {
    width: 100%;
    height: 22px;
    display: flex;
}

.menu__dashboard__block .dashboard__icon {
    width: 22px;
    height: 100%;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dashboard__icon .img {
    width: 22px;
    height: 22px;
}

.menu__dashboard__block .dashboard__text {
    width: 87px;
    height: 100%;
    margin-left: 12px;
    display: flex;
    align-items: center;
}

.dashboard__text .text__content {
    font-weight: 400;
    font-size: 16px;
    line-height: 20.88px;
    letter-spacing: 0%;
    color: #E1E1E1;
}

/*portfolio menu*/
.menu__main .menu__portfolio__block {
    width: 100%;
    height: 22px;
    margin-top: 31px;
    display: flex;
}

.menu__portfolio__block .portf__icon {
    width: 22px;
    height: 100%;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.portf__icon .img {
    width: 22px;
    height: 22px;
}

.menu__portfolio__block .portf__text {
    width: 75px;
    height: 100%;
    margin-left: 12px;    
}

.menu__portfolio__block .portf__text .text__content {
    font-weight: 400;
    font-size: 16px;
    line-height: 20.88px;
    letter-spacing: 0%;
    color: #E1E1E1;
} 

/*trading menu*/
.menu__main .menu__trading__block {
    width: 100%;
    height: 22px;
    margin-top: 31px;
    display: flex;
}

.menu__trading__block .trading__icon {
    width: 22px;
    height: 100%;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.trading__icon .img {
    width: 22px;
    height: 22px;
}

.menu__trading__block .trading__text {
    width: 75px;
    height: 100%;
    margin-left: 12px;    
}

.menu__trading__block .trading__text .text__content {
    font-weight: 400;
    font-size: 16px;
    line-height: 20.88px;
    letter-spacing: 0%;
    color: #E1E1E1;
}

/*watchlist menu*/
.menu__main .menu__watchlist__block {
    width: 100%;
    height: 22px;
    margin-top: 31px;
    display: flex;
}

.menu__watchlist__block .watchlist__icon {
    width: 22px;
    height: 100%;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.watchlist__icon .img {
    width: 22px;
    height: 22px;
}

.menu__watchlist__block .watchlist__text {
    width: 75px;
    height: 100%;
    margin-left: 12px;    
}

.menu__watchlist__block .watchlist__text .text__content {
    font-weight: 400;
    font-size: 16px;
    line-height: 20.88px;
    letter-spacing: 0%;
    color: #E1E1E1;
}

/*academy menu*/
.menu__main .menu__academy__block {
    width: 100%;
    height: 48px;
    margin-top: 12px;
    border-radius: 25px;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    border: 3px solid;
    border-image-source: radial-gradient(100% 100% at 0% 0%, #000000 7.61%, #A3A3A3 57.81%, #000000 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
    conic-gradient(from 180deg at 50% 50%, #000000 0deg, #FFFFFF 30deg, #000000 95.62deg, #FFFFFF 168.75deg, #000000 228.75deg, #FFFFFF 285deg, #000000 360deg),
    conic-gradient(from 180deg at 50% 50%, #2C9543 0deg, #77ED91 16.88deg, #77ED91 88.12deg, #77ED91 151.87deg, #77EDB4 225deg, #7EFF9B 288.75deg, #2C9543 360deg);
}

.menu__academy__block .academy__icon {
    width: 38px;
    height: 38px;
    border-radius: 20px;
    background-color: #1A1D1E;
    margin-left: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.academy__icon .img {
    width: 22px;
    height: 22px;
}

.menu__academy__block .academy__text {
    width: 66px;
    height: 21px;
    margin-left: 12px;
}

.menu__academy__block .academy__text .text__content {
    font-weight: 500;
    font-size: 16px;
    line-height: 20.88px;
    letter-spacing: 0%;
    color: #000000;
}

/*profile menu*/
.menu__main .menu__profile__block {
    width: 100%;
    height: 22px;
    margin-top: 31px;
    display: flex;
}

.menu__profile__block .profile__icon {
    width: 22px;
    height: 100%;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile__icon .img {
    width: 22px;
    height: 22px;
}

.menu__profile__block .profile__text {
    width: 75px;
    height: 100%;
    margin-left: 12px;    
}

.menu__profile__block .profile__text .text__content {
    font-weight: 400;
    font-size: 16px;
    line-height: 20.88px;
    letter-spacing: 0%;
    color: #E1E1E1;
}

/*wallet menu*/
.menu__main .menu__wallet__block {
    width: 100%;
    height: 22px;
    margin-top: 31px;
    display: flex;
}

.menu__wallet__block .wallet__icon {
    width: 22px;
    height: 100%;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wallet__icon .img {
    width: 22px;
    height: 22px;
}

.menu__wallet__block .wallet__text {
    width: 75px;
    height: 100%;
    margin-left: 12px;    
}

.menu__wallet__block .wallet__text .text__content {
    font-weight: 400;
    font-size: 16px;
    line-height: 20.88px;
    letter-spacing: 0%;
    color: #E1E1E1;
}

/*menu logout icons*/
.menu .menu__block .menu__logout__icons {
    width: 100%;
    height: 76px;
    margin-top: 353px;
}

/*logout menu*/
.menu__logout__icons .menu__logout__block {
    width: 100%;
    height: 22px;
    display: flex;
}

.menu__logout__block .logout__icon {
    width: 22px;
    height: 100%;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logout__icon .img {
    width: 22px;
    height: 22px;
}

.menu__logout__block .logout__text {
    width: 75px;
    height: 100%;
    margin-left: 12px;    
}

.menu__logout__block .logout__text .text__content {
    font-weight: 400;
    font-size: 16px;
    line-height: 20.88px;
    letter-spacing: 0%;
    color: #E1E1E1;
}

/*toggle__icons*/
.menu__logout__icons .toggle__icons {
    width: 100%;
    height: 34px;
    margin-top: 12px;
}

.menu__logout__icons .toggle__icons .toggle__blocks {
    width: 72px;
    height: 100%;
    margin-left: 10px;
    border: 1px solid #FFFFFF14;
    border-radius: 34px;
    background-color: #151718;
    display: flex;
}

.toggle__blocks .sun__icon {
    width: 22px;
    height: 100%;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.toggle__blocks .sun__icon .img {
    width: 14px;
    height: 14px;
}

.toggle__blocks .moon__icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FAE529;
    margin-left: 10px;
}

.toggle__blocks .moon__icon .img {
    width: 12.17px;
    height: 12.57px;
}

/*portfolio content*/
.portfolio .portfolio__content {
    width: 1180px;
    height: 100%;
}

/*serch notif user*/
.portfolio__content .search__notif__user {
    width: 100%;
    height: 60px;
    margin-top: 20px;
}

.search__notif__user .search__notif__user__block {
    width: 1120px;
    height: 100%;
    margin-left: 30px;
    display: flex;
    justify-content: space-between;
}

/*info date*/
.serch__notif__user .info__date {
    width: 147px;
    height: 100%;
}

.info__date .info__name {
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 0%;
    color: #FFFFFF;
}

.info__date .info__month {
    font-weight: 300;
    font-style: italic;
    font-size: 11.9px;
    line-height: 15.66px;
    letter-spacing: 0%;
    color: #909093;
}

/*search not us*/
.search__not__us {
    width: 481px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search__not__us .search__not__us__block {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
}

.search__not__us .search__box {
    width: 264px;
    height: 100%;
    background-color: #151718;
    border-radius: 34px;
    display: flex;
} 

.search__box .search__icon__block {
    width: 42px;
    height: 100%;
    border-radius: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #212325;
    margin-left: 3px;
}

.search__box .search__icon {
    width: 42px;
    height: 42px;
    border-radius: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search__icon .img {
    width: 22px;
    height: 22px;
}

.search__box .search__input {
    width: 217px;
    height: 100%;
    border-radius: 34px;
    background-color: #151718;
}

.search__input .inp__search {
    width: 100%;
    height: 100%;
    border-radius: 34px;
    border: none;
    outline: none;
    background-color: inherit;
    padding: 10px;
    color: #909093;
}

.search__input .inp__search::placeholder {
    font-weight: 300;
    font-style: italic;
    font-size: 12px;
    line-height: 15.66px;
    letter-spacing: 0%;
    color: #909093;
}

.search__not__us__block .not__us {
    width: 197px;
    height: 100%;
    display: flex;
}

.not__us .not__block {
    width: 50px;
    height: 100%;
    border-radius: 34px;
    background-color: #151718;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.not__block .ellipse {
    width: 8px;
    height: 8px;
    background-color: #EA2D2D;
    border-radius: 50%;
    position: absolute;
    top: 12px;
    left: 25px;
}

.not__block .img {
    width: 22px;
    height: 22px;
}

.not__us .user__block {
    width: 50px;
    height: 100%;
    margin-left: 7px;
    border-radius: 34px;
}

.user__block .img {
    width: 100%;
    height: 100%;
}

.not__us .user__name__block {
    width: 53px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}

.user__name__block .text__content {
    font-weight: 400;
    font-size: 16px;
    line-height: 20.88px;
    letter-spacing: 0%;
    color: #FFFFFF;
}

.not__us .arrow__block {
    width: 14px;
    height: 100%;
    margin-left: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow__block .img {
    width: 100%;
    height: 14px;
}

/*latest release*/
.portfolio__content .latest__release {
    width: 100%;
    height: 34px;
    margin-top: 53px;
}

.latest__release .latest__release__block {
    width: 1120px;
    height: 100%;
    margin-left: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

.latest__release__block .text__content {
    font-weight: 400;
    font-size: 26px;
    line-height: 33.93px;
    letter-spacing: 0%;
    color: #FFFFFF;
}

.latest__release .txt__content {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0%;
    color: #77ED91;
}

/*advance beginner*/
.portfolio__content .advance__beginner {
    width: 100%;
    height: 279px;
    margin-top: 20px;
    position: relative;
}

.advance__beginner .advance__beginner__block {
    width: 1120px;
    height: 100%;
    margin-left: 30px;
    display: flex;
    border-radius: 18px;
}

/*advance balance*/
.advance__beginner__block .advance__balance {
    width: 265px;
    height: 100%;
    border: 1px solid #FFFFFF1A;
    border-radius: 18px;
    background-image: url("../Imgs/Rectangle\ 41930.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.advance__balance .text__beginner {
    width: 100%;
    height: 30px;
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
}

.advance__balance .text__beginner .btn__beginner {
    width: 75px;
    height: 100%;
    border-radius: 20px;
    backdrop-filter: blur(16px);
    background: #FFFFFF1A;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0%;
    color: #77ED91;
    cursor: pointer;
    border: none;
    margin-right: 12px;
}

.advance__balance .btn__play__block {
    width: 100%;
    height: 48px;
    margin-top: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.advance__balance .btn__play__block .btn__play {
    width: 48px;
    height: 100%;
    border: none;
    background-color: #77ED91;
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn__play__block .btn__play .img {
    width: 14.59px;
    height: 15.46px;
}

.advance__balance .advance__balance__block {
    width: 100%;
    height: 95px;
    background: #0000001A;
    backdrop-filter: blur(94px);
    border: 1px solid #FFFFFF1A;
    margin-top: 41px;
    margin-left: 0.3px;
    border-radius: 18px;
}

.advance__balance__block .block__content {
    width: 100%;
    height: 41px;
    margin-top: 14px;
}

.advance__balance__block .block__content .text__content {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 1%;
    color: #FFFFFF;
    margin-left: 14px;
}

.advance__balance__block .advance__balance__date {
    width: 100%;
    height: 16px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.advance__balance__date .advance__balance__date__block {
    width: 237px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.advance__balance__block .text__content {
    font-weight: 400;
    font-size: 12px;
    line-height: 15.66px;
    letter-spacing: 0%;
    color: #A1A1A1;
}

.advance__balance__block .txt__content {
    font-weight: 400;
    font-size: 12px;
    line-height: 15.66px;
    letter-spacing: 0%;
    color: #A1A1A1;
}

/*advance currencies*/
.advance__beginner__block .advance__currencies {
    width: 265px;
    height: 100%;
    border: 1px solid #FFFFFF1A;
    border-radius: 18px;
    background-image: url("../Imgs/Rectangle\ 419300.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 20px;
}

.advance__currencies .text__beginner {
    width: 100%;
    height: 30px;
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
}

.advance__currencies .text__beginner .btn__beginner {
    width: 75px;
    height: 100%;
    border-radius: 20px;
    backdrop-filter: blur(16px);
    background: #FFFFFF1A;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0%;
    color: #77ED91;
    cursor: pointer;
    border: none;
    margin-right: 12px;
}

.advance__currencies .btn__play__block {
    width: 100%;
    height: 48px;
    margin-top: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.advance__currencies .btn__play__block .btn__play {
    width: 48px;
    height: 100%;
    border: none;
    background-color: #77ED91;
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn__play__block .btn__play .img {
    width: 14.59px;
    height: 15.46px;
}

.advance__currencies .advance__currencies__block {
    width: 100%;
    height: 95px;
    background: #0000001A;
    backdrop-filter: blur(94px);
    border: 1px solid #FFFFFF1A;
    margin-top: 41px;
    border-radius: 18px;
    margin-left: 0.1px;
}

.advance__currencies__block .block__content {
    width: 100%;
    height: 41px;
    margin-top: 14px;
}

.advance__currencies__block .block__content .text__content {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 1%;
    color: #FFFFFF;
    margin-left: 14px;
}

.advance__currencies__block .advance__currencies__date {
    width: 100%;
    height: 16px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.advance__currencies__date .advance__currencies__date__block {
    width: 237px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.advance__currencies__block .text__content {
    font-weight: 400;
    font-size: 12px;
    line-height: 15.66px;
    letter-spacing: 0%;
    color: #A1A1A1;
}

.advance__currencies__block .txt__content {
    font-weight: 400;
    font-size: 12px;
    line-height: 15.66px;
    letter-spacing: 0%;
    color: #A1A1A1;
}

/*advance nft*/
.advance__beginner__block .advance__nft {
    width: 265px;
    height: 100%;
    border: 1px solid #FFFFFF1A;
    border-radius: 18px;
    background-image: url("../Imgs/Rectangle\ 419301.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 20px;
}

.advance__nft .text__beginner {
    width: 100%;
    height: 30px;
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
}

.advance__nft .text__beginner .btn__beginner {
    width: 75px;
    height: 100%;
    border-radius: 20px;
    backdrop-filter: blur(16px);
    background: #FFFFFF1A;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0%;
    color: #FFE773;
    cursor: pointer;
    border: none;
    margin-right: 12px;
}

.advance__nft .btn__play__block {
    width: 100%;
    height: 48px;
    margin-top: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.advance__nft .btn__play__block .btn__play {
    width: 48px;
    height: 100%;
    border: none;
    background-color: #77ED91;
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn__play__block .btn__play .img {
    width: 14.59px;
    height: 15.46px;
}

.advance__nft .advance__nft__block {
    width: 100%;
    height: 95px;
    background: #0000001A;
    backdrop-filter: blur(94px);
    border: 1px solid #FFFFFF1A;
    margin-top: 41px;
    border-radius: 18px;
}

.advance__nft__block .block__content {
    width: 100%;
    height: 41px;
    margin-top: 14px;
}

.advance__nft__block .block__content .text__content {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 1%;
    color: #FFFFFF;
    margin-left: 14px;
}

.advance__nft__block .advance__nft__date {
    width: 100%;
    height: 16px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.advance__nft__date .advance__nft__date__block {
    width: 237px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.advance__nft__block .text__content {
    font-weight: 400;
    font-size: 12px;
    line-height: 15.66px;
    letter-spacing: 0%;
    color: #A1A1A1;
}

.advance__nft__block .txt__content {
    font-weight: 400;
    font-size: 12px;
    line-height: 15.66px;
    letter-spacing: 0%;
    color: #A1A1A1;
}

/*advance quick*/
.advance__beginner__block .advance__quick {
    width: 265px;
    height: 100%;
    border: 1px solid #FFFFFF1A;
    border-radius: 18px;
    background-image: url("../Imgs/Rectangle\ 419302.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 20px;
}

.advance__quick .text__quick {
    width: 100%;
    height: 30px;
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
}

.advance__quick .text__quick .btn__beginner {
    width: 75px;
    height: 100%;
    border-radius: 20px;
    backdrop-filter: blur(16px);
    background: #FFFFFF1A;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0%;
    color: #FFE773;
    cursor: pointer;
    border: none;
    margin-right: 12px;
}

.advance__quick .btn__play__block {
    width: 100%;
    height: 48px;
    margin-top: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.advance__quick .btn__play__block .btn__play {
    width: 48px;
    height: 100%;
    border: none;
    background-color: #77ED91;
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn__play__block .btn__play .img {
    width: 14.59px;
    height: 15.46px;
}

.advance__quick .advance__quick__block {
    width: 100%;
    height: 95px;
    background: #0000001A;
    backdrop-filter: blur(94px);
    border: 1px solid #FFFFFF1A;
    margin-top: 41px;
    border-radius: 18px;
}

.advance__quick__block .block__content {
    width: 100%;
    height: 41px;
    margin-top: 14px;
}

.advance__quick__block .block__content .text__content {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 1%;
    color: #FFFFFF;
    margin-left: 14px;
}

.advance__quick__block .advance__quick__date {
    width: 100%;
    height: 16px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.advance__quick__date .advance__quick__date__block {
    width: 237px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.advance__quick__block .text__content {
    font-weight: 400;
    font-size: 12px;
    line-height: 15.66px;
    letter-spacing: 0%;
    color: #A1A1A1;
}

.advance__quick__block .txt__content {
    font-weight: 400;
    font-size: 12px;
    line-height: 15.66px;
    letter-spacing: 0%;
    color: #A1A1A1;
}

/*button arrow left*/
.advance__beginner .arrow__left {
    width: 34px;
    height: 34px;
    border: none;
    border-radius: 50%;
    background-color: #FFFFFF;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 1135px;
    top: 120px;
}

.advance__beginner .arrow__left .img {
    width: 10px;
    height: 10px;
}

/*live now*/
.portfolio__content .live__now__blocks {
    width: 100%;
    height: 480px;
    margin-top: 40px;
}

.live__now__blocks .live__now__block {
    width: 1120px;
    height: 100%;
    margin-left: 30px;
    display: flex;
}

/*liv now*/
.live__now__block .liv__now {
    width: 732px;
    height: 100%;
}

.liv__now .liv__now__text {
    width: 100%;
    height: 34px;
}

.liv__now__text .text__content {
    font-weight: 400;
    font-size: 26px;
    line-height: 33.93px;
    letter-spacing: 0%;
    color: #FFFFFF;
}

.liv__now .liv__content {
    width: 100%;
    height: 429px;
    margin-top: 16px;
}

.liv__content .li__cont {
    width: 100%;
    height: 100%;
    border: 1px solid #0D0D0D;
    border-radius: 24px;
    background-image: url("../Imgs/Rectangle\ 41935.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.li__cont .user__live {
    width: 100%;
    height: 30px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user__live .user__live__block {
    width: 672px;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.user__live__block .user__icon {
    width: 68px;
    height: 100%;
}

.user__icon .us__mes {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background-color: #151718;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.user__icon .us__mes .user__name {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background-color: #77ED91;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user__icon .us__mes .user__name .text__content {
    font-weight: 500;
    font-size: 14px;
    line-height: 18.27px;
    letter-spacing: 0%;
    text-align: center;
    color: #000000;
}

.us__mes .u__me {
    width: 40px;
    height: 100%;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.us__mes .u__me .text__content {
    font-weight: 400;
    font-size: 12px;
    line-height: 15.66px;
    letter-spacing: 0%;
    text-align: center;
    color: #FFFFFF;
}

.user__live__block .user__recording {
    width: 171px;
    height: 100%;
}

.user__recording .user__recording__block {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background-color: #151718;
    display: flex;
}

.user__recording__block .record__btn {
    width: 22px;
    height: 100%;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 3px;
}

.record__btn .rec__btn {
    width: 100%;
    height: 22px;
    background-color: #FFFFFF;
    border: none;
    cursor: pointer;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.record__btn .rec__btn .r__b {
    width: 8px;
    height: 8px;
    border-radius: 13px;
    background-color: #F92C2C;
}

.user__recording__block .record__input {
    width: 79px;
    height: 100%;
    margin-left: 3px;
    padding-left: 3px;
}

.record__input .inp {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background-color: inherit;
    color: #FFFFFF;
}

.record__input .inp::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 15.66px;
    letter-spacing: 0%;
    text-align: center;
    color: #FFFFFF;
}

.user__recording__block .record__btns__icons {
    width: 56px;
    height: 100%;
    border-radius: 15px;
    margin-left: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.record__btns__icons .btn__pause {
    width: 26px;
    height: 26px;
    border: none;
    border-radius: 50%;
    background: #FFFFFF17;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.record__btns__icons .btn__stop {
    width: 26px;
    height: 26px;
    border: none;
    border-radius: 50%;
    background: #FFFFFF17;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 3px;
}

.li__cont .live__voice {
    width: 100%;
    height: 65px;
    margin-top: 302px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.live__voice .live__voice__block {
    width: 680px;
    height: 100%;
    border-radius: 15px;
    display: flex;
}

.live__voice__block .li__voi {
    width: 618px;
    height: 100%;
    border-radius: 15px;
    position: relative;
}

.li__voi .li__voi__block {
    width: 100%;
    height: 54px;
    border-radius: 15px;
    background: #00000052;
    backdrop-filter: blur(11px);
    display: flex;
}

.li__voi__block .voi__block__one {
    width: 72px;
    height: 100%;
    margin-left: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.li__voi__block .voi__block__one .img {
    width: 100%;
    height: 36px;
}

.li__voi__block .voi__block__two {
    width: 133px;
    height: 100%;
    margin-left: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.li__voi__block .voi__block__two .img {
    width: 100%;
    height: 36px;
}

.li__voi__block .voi__block__three {
    width: 133px;
    height: 100%;
    margin-left: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.li__voi__block .voi__block__three .img {
    width: 100%;
    height: 36px;
}

.li__voi__block .voi__block__four {
    width: 133px;
    height: 100%;
    margin-left: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.li__voi__block .voi__block__four .img {
    width: 100%;
    height: 36px;
}

.li__voi__block .voi__border {
    width: 1px;
    height: 53px;
    border: 1px solid #FFFFFF;
}

.li__voi__block .voice__time {
    width: 45px;
    height: 100%;
    margin-left: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.li__voi__block .voice__time .text__content {
    font-weight: 400;
    font-size: 12px;
    line-height: 15.66px;
    letter-spacing: 0%;
    text-align: center;
    color: #FFFFFF;
}

.li__voi .voice__point {
    width: 10px;
    height: 10px;
    background-color: #77ED91;
    backdrop-filter: blur(11px);
    border-radius: 41px;
    position: absolute;
    left: 527px;
}

.live__voice__block .li__close {
    width: 50px;
    height: 100%;
    margin-left: 10px;
    border-radius: 15px;
}

.li__close .liv__close__btn {
    width: 100%;
    height: 50px;
    border: none;
    background: #00000047;
    border-radius: 50%;
    cursor: pointer;
    backdrop-filter: blur(11px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.liv__close__btn .img {
    width: 26px;
    height: 26px;
}

/*get premium*/
.live__now__block .get__premium {
    width: 358px;
    height: 100%;
    margin-left: 30px;
    border-radius: 24px;
    background-color: #77ED91;
} 

.get__premium .get__premium__icon {
    width: 100%;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.get__premium__icon .img {
    width: 100px;
    height: 100px;
}

.get__premium .get__premium__text {
    width: 100%;
    height: 130px;
    margin-top: 20px;
}

.get__premium__text .text__content {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
}

.get__premium .get__premium__btn {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 90px;
}

.get__premium__btn .btn__premium {
    width: 232px;
    height: 100%;
    border: none;
    cursor: pointer;
    background: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    line-height: 20.88px;
    letter-spacing: 0%;
    text-align: center;
    color: #0D0D0D;
    border-radius: 28px;
}