/*font montserrat*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

/*font inter*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Montserrat:wght@300&display=swap');

/*global style*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

/*gl 1*/
.gl {
    width: 100%;
    height: 1400px;
    background-color: #F5F5F5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gl .gl__block {
    width: 428px;
    height: 1203px;
    border-radius: 35px;
    background-color: #FFFFFF;
}

/*barter icon btn*/
.gl__block .barter__icon__btn {
    width: 100%;
    height: 32px;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.barter__icon__btn .bart__icon {
    width: 27px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
}

.bart__icon .img {
    width: 100%;
    height: 27px;
}

.barter__icon__btn .bart__btn {
    width: 205px;
    height: 100%;
    margin-right: 30px;
}

.bart__btn .button {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 7px;
    background-color: #322FEE;
    display: flex;
    align-items: center;
}

.button .button__text {
    font-family: "Montserrat";
    font-size: 16px;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
    margin-left: 14px;
}

.button .img {
    width: 18.59px;
    height: 20px;
    margin-left: 10px;
}

/*barter block*/
.gl__block .barter__block {
    width: 100%;
    height: 124px;
    margin-top: 38px;
    display: flex;
    justify-content: center;
}

.gl__block .barter__block .bart__block {
    width: 367px;
    height: 100%;
    border-radius: 10px;
    border: none;
    background-color: #322FEE;
}

.bart__block .text__one {
    font-family: "Montserrat";
    font-size: 13px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: center;
    color: #FAFAFB;
    margin-top: 10px;
    margin-left: -270px;
}

.bart__block .text__two {
    font-family: "Montserrat";
    font-size: 50px;
    font-weight: 500;
    line-height: 57px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
    margin-top: 5px;
    margin-left: -70px;
}

/*bartery contents*/
.gl__block .bartery__content {
    width: 100%;
    height: 64px;
    margin-top: 24px;
    display: flex;
    justify-content: center;
}

.gl__block .margin {
    margin-top: 30px;
}

.gl__block .height__two {
    height: 80px;
}

.gl__block .height__three {
    height: 154px;
}

.gl__block .height__four {
    height: 134px;
}

.gl__block .bartery__content .bartery__content__one {
    width: 364px;
    height: 100%;
    display: flex;
}

.bartery__content .bartery__content__one .img {
    width: 34px;
    height: 34px;
}

.bartery__content .barter__two .img {
    width: 37px;
    height: 37px;
}

.bartery__content .barter__three .img {
    width: 25px;
    height: 19.32px;
}

.bartery__content .barter__four .img {
    width: 15px;
    height: 18px;
}

.bartery__content .barter__five .img {
    width: 39px;
    height: 39px;
}

.bartery__content .barter__six .img {
    width: 25px;
    height: 18px;
}

.bartery__content .barter__seven .img {
    width: 33px;
    height: 34px;
}

.bartery__content .bartery__content__one .txt__bar {
    font-family: "Montserrat";
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    color: #000000;
    margin-left: 10px;
}

.bartery__content .barter__two .txt__two {
    margin-left: 8px;
}

.bartery__content .barter__three .txt__three {
    margin-left: 14px;
}

.bartery__content .barter__four .txt__four {
    margin-left: 16px;
}

.bartery__content .barter__five .txt__five {
    margin-left: 6px;
}

.bartery__content .barter__six .txt__six {
    margin-left: 12px;
}

.bartery__content .barter__seven .txt__seven {
    margin-left: 10px;
}

/*footer menu*/
.gl__block .footer__menu {
    width: 100%;
    height: 93px;
    border-radius: 35px;
    margin-top: 9px;
    box-shadow: 0px 11px 44px 19px #0000001A;
    background-color: #F9F9FB;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__menu .foot__men {
    width: 332px;
    height: 27px;
    display: flex;
}

.foot__men .menu__home {
    width: 25px;
    height: 100%;
}

.menu__home .img {
    width: 100%;
    height: 25px;
}

.foot__men .menu__proekt {
    width: 25px;
    height: 100%;
    margin-left: 35px;
}

.menu__proekt .img {
    width: 100%;
    height: 25px;
}

.foot__men .menu__finance {
    width: 31px;
    height: 100%;
    margin-left: 35px;
}

.menu__finance .img {
    width: 100%;
    height: 25px;
}

.foot__men .menu__barter {
    width: 25px;
    height: 100%;
    margin-left: 35px;
}

.menu__barter .img {
    width: 100%;
    height: 25px;
}

.foot__men .menu__settings {
    width: 26px;
    height: 100%;
    margin-left: 35px;
}

.menu__settings .img {
    width: 100%;
    height: 26px;
}

.foot__men .menu__exit {
    width: 25px;
    height: 100%;
    margin-left: 35px;
}

.menu__exit .img {
    width: 100%;
    height: 25px;
}