/*font montserrat*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

/*font inter*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Montserrat:wght@300&display=swap');

/*global style*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

/*mesto 4*/
.mesto {
    width: 100%;
    height: 950px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F5F5F5;
    position: relative;
}

.mesto .mesto__block {
    width: 428px;
    height: 936px;
    border-radius: 35px;
    background-color: #FFFFFF;
    position: relative;
    opacity: 0.4;
}

/*maps image*/
.mesto__block .maps__image {
    width: 100%;
    height: 600px;
    border: 1px solid #F5F5F5;
    border-radius: 35px;
    background-image: url("../img/mesto__maps__img.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

/*header*/
.maps__image .header {
    width: 100%;
    height: 47px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.header .header__block {
    width: 368px;
    height: 100%;
    display: flex;
}

.header__block .user__icon {
    width: 47px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user__icon .img {
    width: 100%;
    height: 45px;
}   

.header__block .header__text {
    width: 275px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__text .txt__head {
    font-family: "Montserrat";
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color: #202A34;
}

.header__block .notif__icon {
    width: 47px;
    height: 100%;
    background: #E8E9EB;
    border-radius: 23.5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.notif__icon .img {
    width: 20.37px;
    height: 22px;
}

/*search input*/
.maps__image .search {
    width: 100%;
    height: 48px;
    display: flex;
    justify-content: center;
    margin-top: 32px;
}

.search .search__block {
    width: 368px;
    height: 100%;
    box-shadow: 1px 5px 24px 8px #6E758808;
    background-color: #FFFFFF;
    border-radius: 10px;
    display: flex;
}

.search__block .search__icon {
    width: 17px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
}

.search__block .search__icon .img {
    width: 100%;
    height: 17px;
}

.search__block .search__inp {
    width: 336px;
    height: 100%;
    border-radius: 10px;
}

.search__inp .inp {
    border-radius: 10px;
    border: none;
    width: 100%;
    height: 100%;
    outline: none;
    background-color: inherit;
    padding-left: 19px;
}

.search__inp .inp::placeholder {
    font-family: "Montserrat";
    font-size: 16px;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    color: #A4A9AE;
}

/*geolocation images*/
.maps__image .img__geol__1 {
    width: 30px;
    height: 29px;
    position: absolute;
    left: 95px;
    top: 238px;
}

.maps__image .img__geol__2 {
    width: 30px;
    height: 29px;
    position: absolute;
    left: 385px;
    top: 220px;
}

.maps__image .img__geol__3 {
    width: 52px;
    height: 52px;
    position: absolute;
    top: 450px;
    left: 67px;
}

.maps__image .img__geol__4 {
    width: 116.5px;
    height: 105.38px;
    position: absolute;
    top: 367px;
    left: 98px;
}

.maps__image .img__geol__5 {
    width: 35px;
    height: 33px;
    position: absolute;
    top: 337px;
    left: 210px;
}

/*mesto running*/
.maps__image .mesto__running {
    width: 100%;
    height: 60px;
    position: absolute;
    top: 510px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

.mesto__running .mesto__running__block {
    width: 369px;
    height: 100%;
    box-shadow: 2px 4px 35px 3px #EBEDF640;
    border-radius: 10px;
    background-color: #322FEE;
    display: flex;    
}

.mesto__running__block .running__block__one {
    width: 143px;
    height: 100%;
    margin-left: 43px;
    display: flex;
}

.running__block__one .img {
    width: 23px;
    height: 24px; 
    margin-top: 11px;   
}

.running__block__one .run__one__txt {
    font-family: "Montserrat";
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    margin-left: 22px;
    color: #FFFFFF;
    margin-top: 11px;
}

.mesto__running__block .running__border {
    width: 4px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.running__border .img {
    width: 1px;
    height: 38px;
}

.mesto__running__block .running__block__two {
    width: 110px;
    height: 100%;
    margin-left: 44px;
    display: flex;    
}

.running__block__two .img {
    width: 24px;
    height: 24px; 
    margin-top: 24px;   
}

.running__block__two .run__two__txt {
    font-family: "Montserrat";
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    margin-left: 22px;
    color: #FFFFFF;
    margin-top: 24px;
}

/*hotel*/
.mesto__block .hotel {
    width: 100%;
    height: 81px;
    border-radius: 10px;
    position: absolute;
    top: 580px;
    display: flex;
    justify-content: center;
}

.hotel .hotel__block {
    width: 369px;
    height: 100%;
    box-shadow: 1px 5px 40px 8px #6E758812;
    border-radius: 10px;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
}

.hotel__block .hotel__icon {
    width: 26.4px;
    height: 100%;
    margin-left: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hotel__icon .img__home {
    width: 26.4px;
    height: 23.87px;
}

.hotel__block .hotel__txts {
    width: 260px;
    height: 100%;
    margin-left: 25.81px;
}

.hotel__block .hotel__txt__one {
    font-family: "Montserrat";
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0em;
    color: #23303B;
    margin-top: 16px;
}

.hotel__block .hotel__txt__two {
    font-family: "Montserrat";
    font-size: 13px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    color: #A4A9AE;
}

/*shopping*/
.mesto__block .shopping {
    width: 100%;
    height: 81px;
    border-radius: 10px;
    position: absolute;
    top: 670px;
    display: flex;
    justify-content: center;
}

.shopping .shopping__block {
    width: 369px;
    height: 100%;
    box-shadow: 1px 5px 40px 8px #6E758812;
    border-radius: 10px;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
}

.shopping__block .shopping__icon {
    width: 26.4px;
    height: 100%;
    margin-left: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shopping__icon .img__shopping {
    width: 22.61px;
    height: 28.3px;
}

.shopping__block .shopping__txts {
    width: 260px;
    height: 100%;
    margin-left: 25.81px;
}

.shopping__block .shopping__txt__one {
    font-family: "Montserrat";
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0em;
    color: #23303B;
    margin-top: 16px;
}

.shopping__block .shopping__txt__two {
    font-family: "Montserrat";
    font-size: 13px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    color: #A4A9AE;
}

/*button*/
.mesto__block .btn__block {
    width: 100%;
    height: 63px;
    position: absolute;
    top: 768px;
    display: flex;
    justify-content: center;
}

.btn__block .btn {
    width: 316px;
    height: 100%;
    border: none;
    border-radius: 10px;
    background-color: #322FEE;
    font-family: "Montserrat";
    font-size: 20px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
}

/*footer menu*/
.mesto__block .footer__menu {
    width: 100%;
    height: 93px;
    position: absolute;
    top: 842px;
    border-radius: 35px;
    box-shadow: 0px 11px 44px 19px #0000001A;
    background-color: #F9F9FB;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__menu .foot__men {
    width: 332px;
    height: 27px;
    display: flex;
}

.foot__men .menu__home {
    width: 25px;
    height: 100%;
}

.menu__home .img {
    width: 100%;
    height: 25px;
}

.foot__men .menu__proekt {
    width: 25px;
    height: 100%;
    margin-left: 35px;
}

.menu__proekt .img {
    width: 100%;
    height: 25px;
}

.foot__men .menu__finance {
    width: 31px;
    height: 100%;
    margin-left: 35px;
}

.menu__finance .img {
    width: 100%;
    height: 25px;
}

.foot__men .menu__barter {
    width: 25px;
    height: 100%;
    margin-left: 35px;
}

.menu__barter .img {
    width: 100%;
    height: 25px;
}

.foot__men .menu__settings {
    width: 26px;
    height: 100%;
    margin-left: 35px;
}

.menu__settings .img {
    width: 100%;
    height: 26px;
}

.foot__men .menu__exit {
    width: 25px;
    height: 100%;
    margin-left: 35px;
}

.menu__exit .img {
    width: 100%;
    height: 25px;
}

/*mesto popup*/
.mesto .mesto__popup {
    width: 428px;
    height: 508px;
    border-radius: 35px;
    background-color: #FFFFFF;
    position: absolute;
    top: 434px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mesto__popup .mesto__popup__block {
    width: 369.98px;
    height: 466px;
}

/*close icon*/
.mesto__popup__block .close__icon {
    width: 100%;
    height: 14.98px;
    display: flex;
    justify-content: flex-end;
}

.close__icon .img {
    width: 14.98px;
    height: 100%;
}

/*inputs name, email, mobile*/
.mesto__popup__block .input__block {
    width: 100%;
    height: 97.79px;
    margin-top: 16px;
}

.mesto__popup__block .margin__left {
    margin-top: 21.79px;
}

.input__block .inp__txt {
    font-family: "Montserrat";
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    color: #23303B;
}

.input__block .inp__div {
    width: 100%;
    height: 60px;
    border-radius: 10px;
    background: #A4A9AE33;
    margin-top: 11.79px;
}

.inp__div .inp {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: inherit;
    padding-left: 20px;    
}

.inp__div .inp::placeholder {
    font-family: "Montserrat";
    font-size: 17px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
    color: #8E949A;    
}

/*button*/
.mesto__popup__block .btn__send__block {
    width: 100%;
    height: 63px;
    display: flex;
    justify-content: center;
    margin-top: 34.04px;
}

.mesto__popup__block .btn__send__block .btn__send {
    width: 316px;
    height: 100%;
    border-radius: 10px;
    background-color: #322FEE;
    border: none;
    font-family: "Montserrat";
    font-size: 20px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
} 