/*font montserrat*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

/*font inter*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Montserrat:wght@300&display=swap');

/*global style*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

/*dashboard profile barter*/
.profile__barter {
    width: 100%;
    height: 990px;
    background-color: #F5F5F5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile__barter .profile__barter__block {
    width: 428px;
    height: 956px;
    background-color: #FFFFFF;
    border-radius: 35px;
}

/*header*/
.profile__barter__block .varification__header {
    width: 100%;
    height: 47px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.varification__header .varif__head {
    width: 368px;
    height: 100%;
    display: flex;
}

/*arrow left icon*/
.varif__head .varif__arrow {
    width: 47px;
    height: 100%;
    border-radius: 23.5px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #A4A9AE40;
}

.varif__arrow .img {
    width: 8px;
    height: 15.5px;
}

/*text*/
.varif__head .varif__text {
    width: 278px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.varif__text .txt__var {
    font-family: "Montserrat";
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
    color: #23303B;
}

/*notification icon*/
.varif__head .varif__notif {
    width: 47px;
    height: 100%;
    border-radius: 23.5px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #A4A9AE40;
}

.varif__notif .img {
    width: 20.37px;
    height: 22px;
}

/*barter buttons*/
.profile__barter__block .barter__btn {
    width: 100%;
    height: 51px;
    margin-top: 33.91px;
    display: flex;
    justify-content: center;
}

.barter__btn .barter__btn__block {
    width: 368px;
    height: 100%;
    display: flex;
}

.barter__btn__block .bart__btn__one, .barter__btn__block .bart__btn__two {
    width: 178px;
    height: 100%;
    border-radius: 10px;
    font-family: "Montserrat";
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: center;
}

.barter__btn__block .bart__btn__one {
    background-color: #322FEE;
    color: #FFFFFF;
    border: none;
}

.barter__btn__block .bart__btn__two {
    background-color: #FFFFFF;
    border: 1px solid #456EFE;
    color: #000000;
    margin-left: 12px;
}

/*barter text*/
.profile__barter__block .barter__text {
    width: 100%;
    height: 130px;
    display: flex;
    justify-content: center;
    margin-top: 21px;
}

.barter__text .barter__text__block {
    width: 368px;
    height: 100%;
}

.barter__text__block .bart__txt {
    font-family: "Montserrat";
    font-size: 13px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: #000000;
}

/*barter product*/
.profile__barter__block .barter__product {
    width: 100%;
    height: 81px;
    display: flex;
    justify-content: center;
    margin-top: 19px;
}

.profile__barter__block .barter__products {
    margin-top: 10px;
}

.barter__product .barter__product__block {
    width: 368px;
    height: 100%;
    border-radius: 10px;
    box-shadow: 1px 5px 40px 8px #6E758812;
    background-color: #FFFFFF;
    display: flex;
}

/*img*/
.barter__product__block .product__img {
    width: 51px;
    height: 100%;
    margin-left: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product__img .img {
    width: 100%;
    height: 51px;
}

/*text*/
.barter__product__block .product__txts {
    width: 184px;
    height: 100%;
    margin-left: 24.56px;
}

.product__txts .pro__text__one {
    font-family: "Montserrat";
    font-size: 13px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;    
    color: #23303B;
    margin-top: 19px;
}

.product__txts .pro__text__two {
    font-family: "Montserrat";
    font-size: 13px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: #A4A9AE;
}

/*value*/
.barter__product__block .product__value {
    width: 94px;
    height: 100%;
    margin-left: 8px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product__value .arrow__right {
    width: 8px;
    height: 15.5px;
}

/*footer menu*/
.profile__barter__block .footer__menu {
    width: 100%;
    height: 93px;
    border-radius: 35px;
    margin-top: 49px;
    box-shadow: 0px 11px 44px 19px #0000001A;
    background-color: #F9F9FB;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__menu .foot__men {
    width: 332px;
    height: 27px;
    display: flex;
}

.foot__men .menu__home {
    width: 25px;
    height: 100%;
}

.menu__home .img {
    width: 100%;
    height: 25px;
}

.foot__men .menu__proekt {
    width: 25px;
    height: 100%;
    margin-left: 35px;
}

.menu__proekt .img {
    width: 100%;
    height: 25px;
}

.foot__men .menu__finance {
    width: 31px;
    height: 100%;
    margin-left: 35px;
}

.menu__finance .img {
    width: 100%;
    height: 25px;
}

.foot__men .menu__barter {
    width: 25px;
    height: 100%;
    margin-left: 35px;
}

.menu__barter .img {
    width: 100%;
    height: 25px;
}

.foot__men .menu__settings {
    width: 26px;
    height: 100%;
    margin-left: 35px;
}

.menu__settings .img {
    width: 100%;
    height: 26px;
}

.foot__men .menu__exit {
    width: 25px;
    height: 100%;
    margin-left: 35px;
}

.menu__exit .img {
    width: 100%;
    height: 25px;
}